.react-datepicker-wrapper {
  width: min-content;
}

.react-datepicker-popper {
  z-index: 15;
}

.react-datepicker__input-container > input {
  width: 74px;
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 106%;
  color: #D6D6FF;
  text-decoration: underline;
  border: none;
  background-color: #5D5FEF;
}