@import "../../scss/variables";

.respect {
  width: 100%;
  margin-bottom: 17px;
  padding: 10px 10px 12px 10px;
  background: $color-block-background;
  border-radius: 15px;
  box-sizing: border-box;

  @media screen and (min-width: $width-tablet) {
    width: calc(100% - 290px);
    padding: 16px 26px 24px 21px;
  }

  @media screen and (min-width: $width-desktop) {
    width: 646px;

  }
}

.respect__user-block {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 22px;

  &::before {
    content: "";
    position: absolute;
    left: -10px;
    right: 0;
    bottom: 0;
    width: calc(100% + 20px);
    height: 1px;
    background-color: $color-black;
    opacity: 0.1;

    @media screen and (min-width: $width-tablet) {
      left: -21px;
      width: calc(100% + 46px);
    }
  }

}

.respect__top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 37.69px;
  height: 20.24px;
  font-weight: 700;
  font-size: 9.92957px;
  line-height: 106%;
  color: $color-white;
  text-transform: uppercase;
  background: $color-pink;
  border-radius: 46.669px;
}
