@import "../../scss/variables";

.respect {
  width: 100%;
  margin-bottom: 17px;
  padding: 16px 26px 24px 21px;
  background: $color-block-background;
  border-radius: 15px;
  box-sizing: border-box;

  @media screen and (min-width: $width-tablet) {
    width: calc(100% - 290px);
  }

  @media screen and (min-width: $width-desktop) {
    width: 646px;

  }
}

.respect__user-block {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 22px;

  &::before {
    content: "";
    position: absolute;
    left: -21px;
    right: 0;
    bottom: 0;
    width: calc(100% + 21px + 26px);
    height: 1px;
    background-color: $color-black;
    opacity: 0.1;
  }

}

.respect__top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 37.69px;
  height: 20.24px;
  font-weight: 700;
  font-size: 9.92957px;
  line-height: 106%;
  color: $color-white;
  text-transform: uppercase;
  background: $color-pink;
  border-radius: 46.669px;
}

.respect__result {
  position: relative;
  padding: 29px 0 30px 0;

  &::before {
    content: "";
    position: absolute;
    left: -21px;
    right: 0;
    bottom: 0;
    width: calc(100% + 21px + 26px);
    height: 1px;
    background-color: $color-black;
    opacity: 0.1;
  }

}

.respect__result-title {
  margin-right: 6px;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 19px;
  line-height: 23px;
  color: $color-text;
  text-transform: uppercase;
}

.respect__result-link {
  display: inline-block;
  margin-left: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: $color-pink;
  text-transform: initial;
}

.respect__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  width: 100%;
  padding: 0;

  @media screen and (min-width: $width-desktop) {
    justify-content: space-between;
    gap: 0;
  }

}

.respect__item {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 66px;
  padding-left: 41px;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  color: $color-text-light;
  list-style: none;
  background-color: $color-white;
  border-radius: 15px;
  box-sizing: border-box;

  &::before {
    content: "";
    position: absolute;
    top: 22px;
    left: 10.33px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
  }

  @media screen and (min-width: $width-575) {
    width: 115px;
  }
}

.item1 {
  &::before {
    background-color: $color-respect-1;
  }
}

.item2 {
  &::before {
    background-color: $color-respect-2;
  }
}

.item3 {
  &::before {
    background-color: $color-respect-3;
  }
}

.item4 {
  &::before {
    background-color: $color-respect-4;
  }
}

.item5 {
  &::before {
    background-color: $color-respect-5;
  }
}

.respect__disk {
  padding-top: 22px;
}

.respect__disk-title {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 19px;
  line-height: 23px;
  color: $color-text;

}

.respect__disk-block {

  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
}

.respect__disk-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: $color-text-light;
}

.respect__disk-input-wrap {
  position: relative;
  width: 100%;
  max-width: 398px;
}

.respect__disk-meaning {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: $color-text;
}

.respect__disk-input {
  position: relative;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  //max-width: 398px;
  height: 15px;
  border-radius: 63px;
  overflow: hidden;

  &:focus {
    outline: none;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background-color: $color-violet;
    border-radius: 63px;
    box-shadow: -207px 0px 0px 200px $color-violet;
  }

  &::-webkit-slider-runnable-track {
    background-color: $color-respect-ranger;
    border-radius: 63px;
  }

}

.respect__disk-link {
  position: absolute;
  top: 5px;
  right: 2%;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  color: $color-violet;
  text-decoration: none;

  @media screen and (min-width: $width-575) {
    right: 20px;
    font-size: 12px;
  }

}
