@import "../../scss/variables";
.login {
  display: flex;
  align-items: center;
}

.login__text {
  width: auto;
  min-width: 100px;
  min-height: 32px;
  padding: 0.5rem 1rem;
  color: $color-white;
  font-family: inherit;
  font-size: 14px;
  border: none;
  background-color: $color-violet;
  font-weight: 500;
  border-radius: 8px;
}

.notification {
  display: flex;
  margin-right: 11px;
  cursor: pointer;
}

.notification__point {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: $color-pink;
}
