$width-desktop: 1200px;
$width-mobile: 320px;
$width-575: 575px;
$width-tablet: 980px;

$color-violet: #5D5FEF;
$color-violet-hover: #051492;
$color-dark-violet: #5556D3;
$color-footer-link:  #B6B6B6;
$color-white: #FFFFFF;
$color-black: #000000;
$color-pink: #EF5DA8;
$color-text: #2F2F2F;
$color-light-grey: #CDCDCD;
$color-body-background: #FBFBFB;
$color-block-background: #F0F0F0;
$color-statistics-title: #D6D6FF;
$color-row-bg-even: #EDEDED;
$color-row-bg:  #F5F5F5;
$color-text-light: #868686;

$color-respect-1: #A5A6F6;
$color-respect-2: #F178B6;
$color-respect-3: #3AC49F;
$color-respect-4: #5D5FEF;
$color-respect-5: #EF5DA8;

$color-respect-ranger: #C7C8FF;
$color-respect-year: #717171;
$color-respect-hover: #383838;
