@import "../../scss/variables";

.respect__disk {
  padding-top: 22px;
}

.respect__disk-title {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 19px;
  line-height: 23px;
  color: $color-text;

}

.respect__disk-block {

  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
}

.respect__disk-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: $color-text-light;
}

.respect__disk-input-wrap {
  position: relative;
  width: 100%;
  max-width: 398px;
}

.respect__disk-meaning {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: $color-text;
}

.respect__disk-input {
  position: relative;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  //max-width: 398px;
  height: 15px;
  border-radius: 63px;
  overflow: hidden;

  &:focus {
    outline: none;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background-color: $color-violet;
    border-radius: 63px;
    box-shadow: -207px 0px 0px 200px $color-violet;
  }

  &::-webkit-slider-runnable-track {
    background-color: $color-respect-ranger;
    border-radius: 63px;
  }

}

.respect__disk-link {
  position: absolute;
  top: 5px;
  right: 2%;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  color: $color-violet;
  text-decoration: none;

  @media screen and (min-width: $width-575) {
    right: 20px;
    font-size: 12px;
  }

}
