@import "../../scss/variables";

.respect__disk {
  padding-top: 22px;
}

.respect__disk-title {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 19px;
  line-height: 23px;
  color: $color-text;
}

.respect__disk-block {

  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
}

.respect__disk-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: $color-text-light;
}

.respect__disk-indicator-wrap {
  position: relative;
  width: 100%;
  max-width: 398px;
  height: 15px;
  background-color: $color-respect-ranger;
  border-radius: 63px;
}

.respect__disk-indicator {
  display: block;
  height: 100%;
  background-color: $color-violet;
  border-radius: 63px;
}

.respect__disk-meaning {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: $color-text;
}

.respect__disk-link {
  position: absolute;
  top: 0;
  right: 2%;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  color: $color-violet;
  text-decoration: none;

  @media screen and (min-width: $width-575) {
    right: 20px;
    font-size: 12px;
  }
}
